[user]
	name = Max
	email = max@monadical.com
[core]
	editor = nano
[color]
		ui = auto
[alias]
	psh = push -u origin
	st = status
	submast = submodule foreach "git fetch && git checkout master && git pull origin master"
	cm = commit -m
	log = log --stat
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	pr = pull --rebase
[grep]
	lineNumber = true
[push]
	default = matching
